<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="http://s823534414.websitehome.co.uk/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="http://s823534414.websitehome.co.uk/style.css" type="text/css" />
	<link rel="stylesheet" href="http://s823534414.websitehome.co.uk/css/swiper.css" type="text/css" />

	<!-- Construction Demo Specific Stylesheet -->
	<link rel="stylesheet" href="http://s823534414.websitehome.co.uk/css/construction.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="http://s823534414.websitehome.co.uk/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="http://s823534414.websitehome.co.uk/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="../../css/font-icons2.css" type="text/css" />
	<link rel="stylesheet" href="http://s823534414.websitehome.co.uk/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="http://s823534414.websitehome.co.uk/css/magnific-popup.css" type="text/css" />


	<link rel="stylesheet" href="http://s823534414.websitehome.co.uk/css/fonts.css" type="text/css" />

	<link rel="stylesheet" href="http://s823534414.websitehome.co.uk/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="http://s823534414.websitehome.co.uk/css/colors.css" type="text/css" />
	
	<link href="../../images/favicon.png" rel="icon" type="image/x-icon">
	
	<style>

#top-search-input {
	float: right;
	margin: 12px 0 15px 15px;
	-webkit-transition: margin .4s ease;
	-o-transition: margin .4s ease;
	transition: margin .4s ease;
}

#top-search-input form {
	width: 160px;
	height: 28px;
	padding: 0;
	margin: 0;
}

#header.sticky-header #top-search-input { margin: 13px 0 13px 15px; }

@media (max-width: 991px) {

	#top-search-input {
		float: none;
		margin: 60px 0;
	}

	#top-search-input form {
		margin: 0 auto;
		width: 300px;
	}

}

.device-xs #top-search-input form { width: 100%; }

.bgimg {
    background-image: url('bg-blank.png');
	background-repeat:no-repeat;
	background-position: center; 
}

.bgimg2 {
    background-image: url('bg-fail-sm.fw.png');
	height: 500px;
	background-repeat:no-repeat;
	background-position: center; 
}


</style>	

	<!-- Document Title
	============================================= -->
	<title>Informed Mining: Risk education reduction through enhanced awareness | Institute for Risk and Uncertainty | University of Liverpool</title>

</head>

<body class="stretched no-transition">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
		
		<div id="page-menu">

			<div id="page-menu-wrap">

				<div class="container clearfix">

					<div class="menu-title">Informed Mining: <span>Risk reduction through enhanced awareness</span></div>

					<nav>
						<ul>
							<li><a href="{{ url_for('onClick_index') }}"><div>Home</div></a></li>
							<li class="current"><a href="{{ url_for('main') }}"><div>IM Aware App</div></a></li>
							<li><a href="{{ url_for('onClick_about') }}"><div>About</div></a></li>
						</ul>
					</nav>

					<div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

				</div>

			</div>

		</div><!-- #page-menu end -->

		

		<!-- Content
		============================================= -->
		
		<div class="section nomargin notopborder dark" style="background: url('images/brumadinho.jpg') center center; padding: 80px 0;" data-stellar-background-ratio="0.1">
			<div class="container-fluid clearfix">

				<div class="container">
					
					<div class="fancy-title title-double-border center dark">
						<h1 class="nobottommargin" style="background-color:transparent">Investigators</h1>
					</div>
						
				</div>

			</div>
		</div>
		
		<!-- <div class="fancy-title title-bottom-border">
			<h1>Investigators</h2>
		</div -->
		
		<div class="topmargin"></div>
		
		<div class="container">
		
			<div class="row">

				<div class="col-lg-6 bottommargin">

					<div class="team team-list clearfix">
						<div class="team-image">
							<img src="{{ url_for('static',filename='images/callum.jpg') }}" alt="Callum Moseley">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Callum Moseley</h4><span>Post Doctorate Research Assistant</span></div>
							<div class="team-content">
								<h5>Liverpool Institute for Risk and Uncertainty</h5>
							</div>
							<a href="#" class="social-icon si-rounded si-small si-twitter">
								<i class="icon-mail"></i>
								<i class="icon-mail"></i>
							</a>
							<a href="#" class="social-icon si-rounded si-small si-twitter">
								<i class="icon-link1"></i>
								<i class="icon-link1"></i>
							</a>
						</div>
					</div>

				</div>

				<div class="col-lg-6 bottommargin">

					<div class="team team-list clearfix">
						<div class="team-image">
							<img src="{{ url_for('static',filename='images/andres.jpg') }}" alt="Andres Alonso">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Andres Alonso</h4><span>Post Doctorate Research Assistant</span></div>
							<div class="team-content">
								<p>Andrés Alonso Rodriguez got his doctorate degree in Earthquake Engineering and Engineering seismology from the IUSS Pavia, Italy in 2012. Since his graduation has worked in business intelligence in medium-sized insurance in Bogotá Colombia, has been a lecturer of structural engineering in Colombia and Chile and has been involved in monitoring of tunnels and landslides using remote sensing and ambient vibration. Currently is working as a research associate in the institute of risk and uncertainty at the University of Liverpool.</p>
							</div>
							<a href="#" class="social-icon si-rounded si-small si-twitter">
								<i class="icon-mail"></i>
								<i class="icon-mail"></i>
							</a>
							<a href="#" class="social-icon si-rounded si-small si-twitter">
								<i class="icon-link"></i>
								<i class="icon-link"></i>
							</a>
						</div>
					</div>
				</div>

			</div>
			
			<div class="row">

				<div class="col-lg-6 bottommargin">

					<div class="team team-list clearfix">
						<div class="team-image">
							<img src="{{ url_for('static',filename='images/scott.jpg') }}" alt="Scott Ferson">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Scott Ferson</h4><span>Principal Investigator</span></div>
							<div class="team-content">
								<p>Scott Ferson is in the Institute for Risk and Uncertainty. Previously, he was senior scientist at Applied Biomathematics, a research firm on Long Island in New York. He holds a Ph.D. in ecology and evolution from Stony Brook University and an A.B. in biology from Wabash College. He has over 100 peer-reviewed papers and 5 books on risk analysis and related topics. His recent research has focused on developing methods and software to solve quantitative assessment problems when data are poor or lacking and structural knowledge about the model is severely limited. He has served on many expert panels called by government agencies.</p>
							</div>
							<a href="#" class="social-icon si-rounded si-small si-twitter">
								<i class="icon-mail"></i>
								<i class="icon-mail"></i>
							</a>
							<a href="#" class="social-icon si-rounded si-small si-twitter">
								<i class="icon-link"></i>
								<i class="icon-link"></i>
							</a>
						</div>
					</div>

				</div>

				<div class="col-lg-6 bottommargin">

					<div class="team team-list clearfix">
						<div class="team-image">
							<img src="{{ url_for('static',filename='images/dom.jpg') }}" alt="Dom Calleja">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Dominic Calleja</h4><span>Project lead</span></div>
							<div class="team-content">
								<p>Dominic Calleja has a background in aerospace engineering, nuclear engineering, and uncertainty quantification. Dominic has broad interests in the field of uncertainty quantification (UQ), and has experience in the application of UQ methods to industrial scale problems across many industries and sectors. Dominic was appointed academic manager, and impact follow at the Risk Institute in July 2018. He is passionate about the communication of risk, and particular interests in intuitive representations of uncertainty.</p>
							</div>
							<a href="#" class="social-icon si-rounded si-small si-forrst">
								<i class="icon-email3"></i>
								<i class="icon-email3"></i>
							</a>
							<a href="#" class="social-icon si-rounded si-small si-skype">
								<i class="icon-link1"></i>
								<i class="icon-link1"></i>
							</a>
							<a href="#" class="social-icon si-rounded si-small si-flickr">
								<i class="icon-flickr"></i>
								<i class="icon-flickr"></i>
							</a>
						</div>
					</div>
				</div>

			</div>
			
			<div class="row">

				<div class="col-lg-6 bottommargin">

					<div class="team team-list clearfix">
						<div class="team-image">
							<img src="{{ url_for('static',filename='images/rcesar.jpg') }}" alt="Ricardo Cesar">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Ricardo Cesar</h4><span>Co-Investigator</span></div>
							<div class="team-content">
								<p>Ricardo Cesar is a Professor and Researcher of the Federal University of the Rio de Janeiro (UFRJ), where he has been coordinating the Soil Ecology and Ecotoxicology Laboratory (LECOTOX) of the Geosciences Institute. Such Laboratory was created by him in 2015, when he became a Professor at the UFRJ. Ricardo Cesar has been working with environmental geochemistry, metal contamination and ecotoxicology of tropical soils and aquatic ecosystems since 2002, when he started my undergraduate studies.</p>
							</div>
							<a href="#" class="social-icon si-rounded si-small si-twitter">
								<i class="icon-mail"></i>
								<i class="icon-mail"></i>
							</a>
							<a href="#" class="social-icon si-rounded si-small si-twitter">
								<i class="icon-twitter1"></i>
								<i class="icon-twitter1"></i>
							</a>
						</div>
					</div>

				</div>

				<div class="col-lg-6 bottommargin">

					<div class="team team-list clearfix">
						<div class="team-image">
							<img src="{{ url_for('static',filename='images/jhooke.jpg') }}" alt="Janet Hooke">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Janet Hooke</h4><span>Co-Investigator</span></div>
							<div class="team-content">
								<p>Janet Hooke is Professor of Physical Geography in the School of Environmental Sciences at the University of Liverpool, UK. She obtained her BSc from Bristol University and her PhD from Exeter University. She is a geomorphologist, specialising in research on river meanders and river channel changes, particularly the spatial and temporal dynamics of morphological changes, the impact of hydrological variations, the analysis of sediment processes and fluxes and interaction of fluvial processes with vegetation. She also works on desertification and land degradation processes in drylands.<p>
							</div>
							<a href="#" class="social-icon si-rounded si-small si-forrst">
								<i class="icon-mail"></i>
								<i class="icon-mail"></i>
							</a>
						</div>
					</div>
				</div>

			</div>
			
			<div class="row">

				<div class="col-lg-6 bottommargin">

					<div class="team team-list clearfix">
						<div class="team-image">
							<img src="{{ url_for('static',filename='images/neil.jpg') }}" alt="Neil MacDonald">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Neil MacDonald</h4><span>Co-Investigator</span></div>
							<div class="team-content">
								<p>Professor of Geography in the Department of Geography and Planning and Institute of Risk and Uncertainty. Neil has published over 80 publications in international peer reviewed journals, with research grant awards totaling over £3M with funding from NERC; EPSRC; ESRC; AHRC; British Academy and the Carnegie Trust and was part of the team that secured £5.29M for the EPSRC and ESRC Centre for Doctoral Training (CDT) on Quantification and Management of Risk & Uncertainty in Complex Systems & Environments within the Institute for Risk and Uncertainty</p>
							</div>
							<a href="#" class="social-icon si-rounded si-small si-twitter">
								<i class="icon-mail"></i>
								<i class="icon-mail"></i>
							</a>
							<a href="#" class="social-icon si-rounded si-small si-twitter">
								<i class="icon-twitter1"></i>
								<i class="icon-twitter1"></i>
							</a>
						</div>
					</div>

				</div>

				<div class="col-lg-6 bottommargin">

					<div class="team team-list clearfix">
						<div class="team-image">
							<img src="{{ url_for('static',filename='images/hsang.jpg') }}" alt="Heather Sangster">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Heather Sangster</h4><span>Co-Investigator</span></div>
							<div class="team-content">
								<p>Heather Sangster joined the School of Environmental Sciences at the University of Liverpool, U.K., in September 2018 as a Lecturer in Physical Geography, having graduated from the University of Liverpool with a BSc. in Geography (2009) and subsequently a Ph.D. entitled 'Hazard responses in the pre-industrial era: vulnerability and resilience of traditional societies to volcanic disasters' (2013).<p>
							</div>
							<a href="#" class="social-icon si-rounded si-small si-forrst">
								<i class="icon-mail"></i>
								<i class="icon-mail"></i>
							</a>
						</div>
					</div>
				</div>

			</div>
			
			<div class="row">

				<div class="col-lg-6 bottommargin">

					<div class="team team-list clearfix">
						<div class="team-image">
							<img src="{{ url_for('static',filename='images/egama.jpg') }}" alt="Evandro Moraes Gama">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Evandro Moraes Gama</h4><span>Co-Investigator</span></div>
							<div class="team-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue pellentesque gravida. Sed nibh justo, congue at quam non, molestie aliquet ipsum. Proin pulvinar nunc ac nibh finibus, id faucibus felis facilisis. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.<p>
							</div>
							<a href="#" class="social-icon si-rounded si-small si-forrst">
								<i class="icon-mail"></i>
								<i class="icon-mail"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="col-lg-6 bottommargin">

					<div class="team team-list clearfix">
						<div class="team-image">
							<img src="{{ url_for('static',filename='images/disarno.jpg') }}" alt="Luigi Di Sarno">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Luigi Di Sarno</h4><span>Co-Investigator</span></div>
							<div class="team-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue pellentesque gravida. Sed nibh justo, congue at quam non, molestie aliquet ipsum. Proin pulvinar nunc ac nibh finibus, id faucibus felis facilisis. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.<p>
							</div>
							<a href="#" class="social-icon si-rounded si-small si-forrst">
								<i class="icon-mail"></i>
								<i class="icon-mail"></i>
							</a>
						</div>
					</div>
				</div>

			</div>
			
			<div class="row">

				<div class="col-lg-6 bottommargin">

					<div class="team team-list clearfix">
						<div class="team-image">
							<img src="{{ url_for('static',filename='images/edo.jpg') }}" alt="Edoardo Patelli">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Edoardo Patelli</h4><span>Co-Investigator</span></div>
							<div class="team-content">
								<p>Edoardo Patelli's primary research interests focus on the general area of risk analysis, uncertainty modelling and quantification, sensitivity analysis, optimization, reliability and availability of complex systems. The current activities deal with issues of the interface between theoretical basic research, application oriented developments and numerical implementations.<p>
							</div>
							<a href="#" class="social-icon si-rounded si-small si-forrst">
								<i class="icon-mail"></i>
								<i class="icon-mail"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="col-lg-6 bottommargin">

					<div class="team team-list clearfix">
						<div class="team-image">
							<img src="{{ url_for('static',filename='images/carmen.jpg') }}" alt="Carmen Pires Migueles">
						</div>
						<div class="team-desc">
							<div class="team-title"><h4>Carmen Pires Migueles</h4><span>Co-Investigator</span></div>
							<div class="team-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue pellentesque gravida. Sed nibh justo, congue at quam non, molestie aliquet ipsum. Proin pulvinar nunc ac nibh finibus, id faucibus felis facilisis. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.<p>
							</div>
							<a href="#" class="social-icon si-rounded si-small si-forrst">
								<i class="icon-mail"></i>
								<i class="icon-mail"></i>
							</a>
						</div>
					</div>
				</div>

			</div>
			
			<div class="line"></div>
					
		</div>


		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						<img src="{{ url_for('static',filename='footerlogo.fw.png') }}" alt="Footer Logo" class="footer-logo">
					</div>

					<div class="col_half col_last tright">
						<div class="copyrights-menu copyright-links fright clearfix">
							<a href="../../"><i class="icon-enter"></i> &nbsp; Return to the Risk Website</a>
						</div>
						<div class="fright clearfix">
							<a href="#" class="social-icon si-small si-borderless nobottommargin si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="http://s823534414.websitehome.co.uk/js/jquery.js"></script>
	<script type="text/javascript" src="http://s823534414.websitehome.co.uk/js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="http://s823534414.websitehome.co.uk/js/functions.js"></script>
	

</body>
</html>